$dark: #5d6e87;
$warn: #b7463e;
$success: #a2b3ba;
$lighter: whitesmoke;
$light: #f7ebec; 
textarea {
    border: 1px solid $dark;
}
button {
    border: 0;
    color: white;
    background: $dark;
    font-size: 14pt;
    padding: 5px;
    &:active {
        transform: translate(1px, 1px);
    }
    &:hover {
        transform: translate(-1px, -1px);
    }
    &.cancel {
        background: $warn;
    }
    &.save {
        background: $success;
    }
}
span,
div,
h1,
h2,
h3 {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.input-group {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    label {
        font-size: 16pt;
        font-weight: bold;
    }
}
#app-container {
    .title-bar {
        width: 100%;
        height: 50px;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-content: flex-start;
        align-items: center;
        background: $dark;
        color: white;
        margin-bottom: 10px;
        padding: 0 5px;
        * {
            width: 33%;
        }
        .button-container {
            height: 50px;
            display: flex;
            flex-flow: row;
            justify-content: flex-start;
            align-items: center;
            .back-button {
                background: $warn;
                width: 40px;
                height: 40px;
                font-size: 18pt;
                svg {
                    margin: 10%; 
                    width: 80%;
                    height: 80%;
                    path {
                        fill: $light;
                        stroke: transparent;
                    }
                }
            }
        }
        .title-bar-title {
            text-align: center;
        }
        .last-build-time {
            text-align: right;
        }
    }
    #app-body {
        padding-left: 10px;
        padding-right: 10px;
    }
    .all-container {
        width: 100%;
        .site-title {
            width: 100%;
            .input-group {
                display: flex;
                flex-flow: column;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 10px;
                input {
                    font-size: 16pt;
                    border: none;
                    border-bottom: 1px solid $dark;
                    background: $lighter;
                    text-align: center;
                }
                label {
                    text-align: center;
                }
            }
        }
        .button-group {
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10px;
            width: 50%;
            button {
                padding: 5px;
            }
        }
        .paths {
            display: flex;
            flex-flow: row;
            justify-content: space-around;
            align-items: center;
            .input-group {
                margin: 0 5px;
                input {
                    border: 0;
                    border-bottom: 1px solid $dark;
                    width: 250px;
                    background: $lighter;
                }
            }
            
        }
        .page-list,
        .font-list {
            display: flex;
            flex-flow: column;
            justify-content: flex-start;
            align-content: stretch;
            align-items: flex-start;
            .page-link,
            .font {
                background: $dark;
                padding: 5px;
                margin: 5px 0;
                color: $lighter;
                width: 100%;
                font-size: 18pt;
                cursor: default;
                &:hover {
                    transform: translate(-1px, -1px);
                }
                &:active {
                    transform: translate(1px, 1px);
                }
            }
        }
        .color-picker-container {
            overflow: hidden;
            .color-picker-title {
                font-size: 18pt;
                font-weight: bold;
            }
            .color-picker {
                display: flex;
                flex-flow: row;
                justify-content: space-between;
                align-items: flex-start;
                .sliders {
                    display: flex;
                    flex-flow: row;
                    justify-content: space-around;
                    align-items: flex-start;
                    width: 590;
                    .slider-pair {
                        display: flex;
                        flex-flow: column;
                        justify-content: center;
                        align-content: center;
                        align-items: center;
                        margin: 0 5px 15px;
                        width: 150px;
                        text-align: center;
                        .input-group {
                            margin-bottom: 5px;
                            label {
                                width: 100%;
                            }
                        }
                    }
                }
            }
            .current-container {
                width: 165px;
            }
        }
    }
    .project-view-container {
        width: 100%;
        .top-bar {
            display: flex;
            flex-flow: column;
            justify-content: stretch;
            align-items: baseline;
            width: 100%;
            margin-bottom: 10px;
            .inputs {
                width: 100%;
                display: flex;
                flex-flow: row;
                justify-content: space-around;
                align-items: center;
                align-content: flex-start;
                margin-bottom: 10px;
                .save {
                    font-size: 11pt;
                    line-height: 1;
                    text-align: center;
                    width: 30px;
                    height: 25px;
                }
                .input-group, button {
                    margin-left: 10px;
                }
            }
            .contributors {
                width: 100%;
                .contributors-list {
                    width: 100%;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: flex-start;
                    align-items: center;
                    align-content: flex-start;
                    .contributor-group {
                        display: flex;
                        flex-flow: row;
                        justify-content: space-between;
                        align-items: center;
                        background: $dark;
                        padding: 5px;
                        margin: 2px;
                        .contributor {
                            color: white;
                            font-size: 14pt;
                        }
                        button {
                            font-size: 10px;
                            line-height: 1;
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
        .editors {
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            margin-bottom: 10px;
            .content-editor,
            .image-editor {
                span {
                    display: block;
                    font-size: 18pt;
                    font-weight: bold;
                }
            }
            .content-editor {
                width: 500px;
                textarea {
                    width: 100%;
                    resize: none;
                    height: 500px;
                    width: 100%;
                    margin-bottom: 10px;
                }
            }
            .image-editor {
                width: 290px;
                margin-left: 10px;
                .list-box-container {
                    width: 100%;
                    height: 500px;
                    background: white;
                    border: 1px solid black;
                    margin-bottom: 10px;
                    display: flex;
                    flex-flow: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    overflow: hidden;
                    .list-box-option {
                        width: 100%;
                        height: 25px;
                        padding: 0 5px;
                        border-bottom: 1px solid $light;
                        cursor: default;
                        &.selected {
                            background: $dark;
                            color: white;
                        }
                        .list-box-option-text {
                            font-size: 16pt;
                            line-height: 1;
                            font-weight: normal;
                            margin: 0;
                            padding: 0;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;

                        }
                    }
                }
            }
        }
    }
    .about-container {
        display: flex;
        flex-flow: column;
        align-content: flex-start;
        align-items: center;
        width: 100%;
        .image-container {
            display: flex;
            flex-flow: row;
            justify-content: flex-start;
            align-items: flex-end;
            align-content: flex-end;
            width: 100%;
            input {
                width: 300px;
            }
            button {
                margin-left: 10px;
            }
        }
        .content-editor {
            width: 100%;
            margin-bottom: 10px;
            textarea {
                resize: none;
                height: 500px;
                width: 100%;
            }
        }

    }
    .select-site-container {
        width: 100%;
        .site-list {
            display: flex;
            flex-flow: column;
            justify-content: flex-start;
            align-content: stretch;
            align-items: flex-start;
            .site-option{
                background: $dark;
                padding: 5px;
                margin: 5px 0;
                color: $lighter;
                width: 100%;
                font-size: 18pt;
                cursor: default;
                display: flex;
                flex-flow: row;
                justify-content: space-between;
                align-items: center;
            }

            .site-option {
                &:hover {
                    transform: translate(-1px, -1px);
                }
                &:active {
                    transform: translate(1px, 1px);
                }
            }
        }
    }
}

.template {
    border: 1px solid $dark;
    color: $dark;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 5px;
    font-size: 18pt;
    margin-top: 10px;
    height: 50px;
    cursor: default;
    .button-group {
        width: 165px;
    }
    .button,
    &.button {
        &:hover {
            transform: translate(-1px, -1px);
        }
        &:active {
            transform: translate(1px, 1px);
        }
    }
    .remove {
        background: $warn;
        color: $light;
    }
    .update {
        background: $dark;
        color: $lighter;
    }
}

.new-template-form {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid $dark;
    .input-group {
        input {
            font-size: 16pt;
        }
    }
    button {
        height: 100%;
    }
}

.button-group {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.toast-message {
    width: 100%;
    position: absolute;
    bottom: 0;
    animation: 1.5s 2 alternate toast;
    background: $success;
    color: $lighter;
    font-size: 18pt;
    text-align: center;
    overflow: hidden;
    padding-top: 5px;
    &.error {
        background: $warn;
    }
}

@keyframes toast {
    from {
        height: 0px;
    }
    15% {
        height: 38px;
    }
    85% {
        height: 38px
    }
    to {
        height: 38px;
    }
}