$dark: #777da7;
$warn: #db2763;
$success: #94c9a9;
$lighter: #eaefbd;
$light: #bcd4de;

button {
    border: 0;
    box-shadow: 1px 1px 1px 1px $success;
    color: white;
    background: $dark;
    border-radius: 5px;
    font-size: 14pt;
    padding: 5px;
    &:active {
        box-shadow: 0 0 0 0 white;
        transform: translate(1px, 1px);
    }
    &:hover {
        transform: translate(-1px, -1px);
    }
}
.input-group {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    label {
        font-size: 16pt;
        font-weight: bold;
    }
}
#app-container {
    .title-bar {
        width: 100%;
        height: 50px;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-content: flex-start;
        align-items: center;
        background: $dark;
        color: white;
        margin-bottom: 10px;
        padding: 0 5px;
        * {
            width: 33%;
        }
        .button-container {
            height: 50px;
            display: flex;
            flex-flow: row;
            justify-content: flex-start;
            align-items: center;
            button {
                background: $warn;
                box-shadow: $light;
                width: 40px;
                height: 40px;
                text-align: center;
            }
        }
        .title-bar-title {
            text-align: center;
        }
        .last-build-time {
            text-align: right;
        }
    }
    .all-container {
        min-width: 500px;
        .button-group {
            display: flex;
            flex-flow: row;
            
            width: 50%;
            margin: auto;
        }
        .paths {
            display: flex;
            flex-flow: row;
            justify-content: space-around;
            align-items: center;
            .input-group {
                margin: 0 5px;
                input {
                    border: 0;
                    font-size: 16pt;
                    border-bottom: 1px solid $dark;
                }
            }
            .button-group {
                display: flex;
                flex-flow: column;
                justify-content: flex-end;
                align-items: flex-start;
                button {
                    margin: 2px 0;
                }
            }
        }
        .page-list,
        .font-list {
            display: flex;
            flex-flow: column;
            justify-content: flex-start;
            align-content: stretch;
            align-items: flex-start;
            .page-link,
            .font {
                background: $dark;
                padding: 5px;
                margin: 5px 0;
                color: white;
                width: 100%;
                box-shadow: 1px 1px 1px 1px $light;
                font-size: 18pt;
                cursor: pointer;
                &:active {
                    transform: translate(1px, 1px);
                    box-shadow: 0;
                }
            }
        }
    }
    .button-group {
        display: flex;
        flex-flow:row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        button {
            padding: 5px;
            &.cancel {
                background: $warn;
            }
            &.save {
                background: $success;
                box-shadow: 1px 1px 1px 1px $dark;
            }
        }
    }
    .project-view-container {
        width: 100%;
        .editors {
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            margin-bottom: 10px;
            .text-editors {
                width: 500px;
                display: flex;
                flex-flow: column;
                justify-content: flex-start;
                align-items: center;
                .inputs {
                    display: flex;
                    flex-flow: row;
                    justify-content: space-around;
                    width: 100%;
                    margin-bottom: 10px;
                }
                .content-editor {
                    display: flex;
                    flex-flow: column;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    textarea {
                        width: 100%;
                        resize: none;
                        height: 500px;
                        width: 100%;
                    }
                }
            }
            .image-editor {
                width: calc(100% - 510px);
                .image-editor-title {
                    width: 100%;
                    display: flex;
                    flex-flow: row;
                    justify-content: space-between;
                    align-items: center;
                }
                .list-box-container {
                    width: 100%;
                    height: 458px;
                    background: white;
                    border: 1px solid black;
                    margin-bottom: 10px;
                    display: flex;
                    flex-flow: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    .list-box-option {
                        width: 100%;
                        height: 25px;
                        padding: 0 5px;
                        border-bottom: 1px solid $light;
                        &.selected {
                            background: $dark;
                            color: white;
                        }
                        .list-box-option-text {
                            font-size: 16pt;
                            line-height: 1;
                            font-weight: normal;
                            margin: 0;
                            padding: 0;
                        }
                    }
                }
                span {
                    font-size: 18pt;
                    font-weight: bold;
                    height: 56px;
                    line-height: 31px;
                    display: block;
                    margin-bottom: 2px;
                }
                .image-list {
                    width: 100%;
                    height: 458px;
                    background: white;
                    border: 1px solid black;
                    margin-bottom: 5px;
                    .project-image {
                        font-size: 14pt;
                        margin: 2px;
                        padding: 0;
                        display: block;
                        height: 25px;
                        line-height: 1;
                        &::selection {
                            background: $success;
                        }
                    }
                }
            }
        }
    }
    .about-container {
        display: flex;
        flex-flow: column;
        align-content: flex-start;
        align-items: center;
        width: 500px;
        .image-container {
            display: flex;
            flex-flow: row;
            justify-content: flex-start;
            align-items: flex-end;
            align-content: flex-end;
            width: 100%;
            button {
                margin-left: 10px;
            }
        }
        .content-editor {
            width: 100%;
            textarea {
                resize: none;
                height: 500px;
                width: 100%;
            }
        }
    }
}
