button {
  border: 0;
  box-shadow: 1px 1px 1px 1px #94c9a9;
  color: white;
  background: #777da7;
  border-radius: 5px;
  font-size: 14pt;
  padding: 5px;
}
button:active {
  box-shadow: 0 0 0 0 white;
  transform: translate(1px, 1px);
}
button:hover {
  transform: translate(-1px, -1px);
}

.input-group {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.input-group label {
  font-size: 16pt;
  font-weight: bold;
}

#app-container .title-bar {
  width: 100%;
  height: 50px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  background: #777da7;
  color: white;
  margin-bottom: 10px;
  padding: 0 5px;
}
#app-container .title-bar .button-container {
  width: 50px;
  height: 50px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
#app-container .title-bar .button-container button {
  background: #db2763;
  box-shadow: #bcd4de;
  width: 40px;
  height: 40px;
  text-align: center;
}
#app-container .all-container {
  min-width: 500px;
}
#app-container .all-container .button-group {
  display: flex;
  flex-flow: row;
  width: 50%;
  margin: auto;
}
#app-container .all-container .paths {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}
#app-container .all-container .paths .input-group {
  margin: 0 5px;
}
#app-container .all-container .paths .input-group input {
  border: 0;
  font-size: 16pt;
  border-bottom: 1px solid #777da7;
}
#app-container .all-container .paths .button-group {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-start;
}
#app-container .all-container .paths .button-group button {
  margin: 2px 0;
}
#app-container .all-container .page-list {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}
#app-container .all-container .page-list .page-link {
  background: #777da7;
  padding: 5px;
  margin: 5px 0;
  color: white;
  width: 100%;
  box-shadow: 1px 1px 1px 1px #bcd4de;
  font-size: 18pt;
  cursor: pointer;
}
#app-container .all-container .page-list .page-link:active {
  transform: translate(1px, 1px);
  box-shadow: 0;
}
#app-container .button-group {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#app-container .button-group button {
  padding: 5px;
}
#app-container .button-group button.cancel {
  background: #db2763;
}
#app-container .button-group button.save {
  background: #94c9a9;
  box-shadow: 1px 1px 1px 1px #777da7;
}
#app-container .project-view-container {
  width: 100%;
}
#app-container .project-view-container .editors {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 10px;
}
#app-container .project-view-container .editors .text-editors {
  width: 500px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}
#app-container .project-view-container .editors .text-editors .inputs {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 10px;
}
#app-container .project-view-container .editors .text-editors .content-editor {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#app-container .project-view-container .editors .text-editors .content-editor textarea {
  width: 100%;
  resize: none;
  height: 500px;
  width: 100%;
}
#app-container .project-view-container .editors .image-editor {
  width: calc(100% - 510px);
}
#app-container .project-view-container .editors .image-editor span {
  font-size: 18pt;
  font-weight: bold;
  height: 56px;
  line-height: 31px;
  display: block;
  margin-bottom: 10px;
}
#app-container .project-view-container .editors .image-editor .image-list {
  width: 100%;
  height: 458px;
  background: white;
  border: 1px solid black;
  margin-bottom: 10px;
}
#app-container .project-view-container .editors .image-editor .image-list .project-image {
  font-size: 14pt;
  margin: 2px;
  padding: 0;
  display: block;
  height: 25px;
  line-height: 1;
}
#app-container .project-view-container .editors .image-editor .image-list .project-image::selection {
  background: #94c9a9;
}
#app-container .about-container {
  display: flex;
  flex-flow: column;
  align-content: flex-start;
  align-items: center;
  width: 500px;
}
#app-container .about-container .image-container {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: flex-end;
  width: 100%;
}
#app-container .about-container .image-container button {
  margin-left: 10px;
}
#app-container .about-container .content-editor {
  width: 100%;
}
#app-container .about-container .content-editor textarea {
  resize: none;
  height: 500px;
  width: 100%;
}
