{% extends "base.html" %}
{% block head %}
<style>
    #contact {
        max-width: 350px;
        margin: 10px auto;
    }
    .input-group {
        display: flex;
        flex-flow: column;
        margin-top: 10px;
    }
    .button-group {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
    }
    .button-group > .button {
        cursor: pointer;
        font-size: 14pt;
    }
    #message {
        resize: none;
        height: 250px;
    }
</style>
{% endblock head %}
{% block content %}
<form id="contact" method="post" action="message">
    <div class="input-group">
        <label for="email">Your Email</label>
        <input id="email" name="email" required />
    </div>
    <div class="input-group">
        <label for="name">Your Name</label>
        <input id="name" name="name" required />
    </div>
    <div class="input-group">
        <label for="message">Your Message</label>
        <textarea id="message" name="message" required minlength="10"></textarea>
    </div>
    <div class="button-group">
        <button class="button" type="reset">Clear</button>
        <button class="button" type="submit">Send</button>
    </div>
</form>
{% endblock content %}